body {
    background-color: #111111;
}

.title {
    text-transform: uppercase;
    color: #f4f4f4f4;
}

#root {
    text-align: center;
    padding: 3rem;

    canvas {
        display: block;
        margin: 0 auto;
    }
}